body {
  background-color: #ecf0f5;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-variant: normal;
  color: #758697;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
}

.fl {
  float: left;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.t-toolbar{
border-color: #bbb99d;
background-color: #dee0c8;
}

.t-tiles {
border-color: #bbb99d;
background: #fff;
}
.t-button
{
display: inline-block;
margin: 0;
padding: 2px 6px;
border-width: 1px;
border-style: solid;
font-family: inherit;
font-size: 100%;
line-height: 1.435;
text-align: center;
cursor: pointer;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.t-button,
button.t-button.t-state-disabled:hover,
a.t-button.t-state-disabled:hover,
.t-state-disabled .t-button:hover
{
background: #e0e2cb url('http://www.0non0.com/Content/themes/Hay/sprite.png') repeat-x 0 -560px;
}

.t-button:hover
{
background-position: 0 -624px;
background-color: #bbbe94;
}


/* Upload */

html .t-upload
{
position: relative; /*possibly unneeded as the style is applied to an inner element as well*/
border-width:0;
background: none;
}

.t-dropzone,
.t-upload-files
{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.t-dropzone em,
.t-upload-button
{
vertical-align: middle;
}

*+html .t-dropzone em, *+html .t-upload-button { vertical-align: baseline; }
* html .t-dropzone em, * html .t-upload-button { vertical-align: baseline; }

.t-dropzone
{
border-style: solid;
border-width: 0;
padding: 4px;
background-color: transparent;
}

.t-dropzone em
{
margin-left: .6em;
visibility: hidden;
}

.t-dropzone-active
{
border-width:1px;
padding: 3px;
}

.t-dropzone-active em
{
visibility: visible;
}

.t-upload-button
{
width: 86px;
position: relative;
direction: ltr;
overflow: hidden !important; /* important required by IE7 */
}

.t-upload-button input
{
font: 200px monospace !important; /* The input font size and family are critical for the operation of the Upload */
opacity: 0;
filter: alpha(opacity=0);
position: absolute;
padding: 0;
margin: 0;
cursor: pointer;
right: 0; top: 0;
z-index: 1;
}

.t-state-disabled .t-upload-button input
{
cursor: default;
}

.t-upload-files
{
border-style: solid;
border-width: 1px;
margin: .2em 0 0;
padding: .3em .7em .5em;
line-height: 1.9em;
}

.t-upload-files .t-button
{
position:relative;
top: 1px;
margin-left: 8px;
padding-top: 0;
padding-bottom: 0;
font-size: 84%;
}

*+html .t-upload-files .t-button{line-height: 1;} /*IE7*/
* html .t-upload-files .t-button{line-height: 1;} /*IE6*/

.t-upload .t-delete,
.t-upload .t-cancel,
.t-upload .t-retry
{
height: 8px;
vertical-align: baseline;
}

.t-upload .t-delete,
.t-upload .t-cancel
{
width: 7px;
background-position: -5px -292px;
}

.t-retry{ background-position: -66px -228px; width: 11px; }
.t-success{ background-position: -64px -240px; }
.t-fail{ background-position: -64px -256px; }

.t-filename
{
position: relative;
display: inline-block;
min-width: 120px;
max-width: 200px;
vertical-align: middle;
zoom:1;

overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
white-space: nowrap;
}

* html .t-filename
{
width: 200px;
display: inline;
}

*+html .t-filename
{
display: inline;
}

.t-progress,
.t-progress-status
{
position: absolute;
bottom: -2px;
left: 0;
width: 118px;
height: 2px;
border-style: solid;
border-width: 1px;
background-repeat: repeat-x;

-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

.t-progress-status
{
left: -1px;
bottom: -1px;
width: 50%;
}

.t-upload-selected
{
min-width: 86px;
box-sizing: content-box;
-moz-box-sizing: content-box;
-ms-box-sizing: content-box;
margin: 3px 0 0;
}

*+html .t-upload-selected { min-width: 100px; }