
table.dataTable thead .sorting_asc {
    background: url(https://lastsoup.github.io/Nifty/plugins/datatables/media/images/sort_asc.png) no-repeat center right;
}

table.dataTable thead .sorting {
    background: url(https://lastsoup.github.io/Nifty/plugins/datatables/media/images/sort_both.png) no-repeat center right;
}

table.dataTable thead .sorting_desc {
    background: url(https://lastsoup.github.io/Nifty/plugins/datatables/media/images/sort_desc.png) no-repeat center right;
}


div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
}

div.dataTables_paginate ul.pagination {
	margin: 2px 0;
    white-space: nowrap;
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}

@media screen and (max-width: 767px) {
	div.dataTables_length,
	div.dataTables_filter,
	div.dataTables_info,
	div.dataTables_paginate {
		text-align: center;
	}
}

div.dataTables_filter {
    text-align: right;
}

div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
}