html, body {
    font-size: 12px;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: "Tahoma,Verdana,宋体";
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:focus{
    outline: none;
}


.btn {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.42857;
    vertical-align: middle;
    transition: all .25s;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default{
    background-color: #fafafa;
    border-color: #d1d9de;
    color: #758697;
}

.btn-default-basic,
.btn-default,
.btn-default:focus,
.btn-default.disabled:hover,
.btn-default:disabled:hover,
.btn-hover-default:hover,
.btn-hover-default:active,
.btn-hover-default.active,
.btn.btn-active-default:active,
.btn.btn-active-default.active,
.dropdown.open > .btn.btn-active-default,
.btn-group.open .dropdown-toggle.btn.btn-active-default {
  background-color: #fafafa;
  border-color: #d1d9de;
  color: #758697;
}


.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #e8e8e8;
  border-color: #d1d9de;
  color: #758697;
}
.btn-purple {
    background-color: #b761c5;
    border-color: #ba68c8;
    color: #fff;
}

.btn-purple,
.btn-purple:focus,
.btn-purple.disabled:hover,
.btn-purple:disabled:hover,
.btn-hover-purple:hover,
.btn-hover-purple:active,
.btn-hover-purple.active,
.btn.btn-active-purple:active,
.btn.btn-active-purple.active,
.dropdown.open > .btn.btn-active-purple,
.btn-group.open .dropdown-toggle.btn.btn-active-purple {
  background-color: #b761c5;
  border-color: #ba68c8;
  color: #fff;
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  background-color: #ab46bc;
  border-color: #ae4ebe;
  color: #fff;
}

.btn-primary-basic,
.btn-primary,
.btn-primary:focus,
.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
.btn-hover-primary:hover,
.btn-hover-primary:active,
.btn-hover-primary.active,
.btn.btn-active-primary:active,
.btn.btn-active-primary.active,
.dropdown.open > .btn.btn-active-primary,
.btn-group.open .dropdown-toggle.btn.btn-active-primary {
  background-color: #38a0f4;
  border-color: #42a5f5;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #1690f3;
  border-color: #2095f3;
  color: #fff;
}


.btn-danger-basic,
.btn-danger,
.btn-danger:focus,
.btn-danger.disabled:hover,
.btn-danger:disabled:hover,
.btn-hover-danger:hover,
.btn-hover-danger:active,
.btn-hover-danger.active,
.btn.btn-active-danger:active,
.btn.btn-active-danger.active,
.dropdown.open > .btn.btn-active-danger,
.btn-group.open .dropdown-toggle.btn.btn-active-danger {
  background-color: #ee4a47;
  border-color: #ef5350;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: #eb2a26;
  border-color: #ec332f;
  color: #fff;
}




table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

select{ padding: 5px;margin:5px 0;}


input.none {
    resize: none;
    outline: none;
    word-wrap: break-word;
    border: 0 none;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 13px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-color: rgb(169, 169, 169);
    outline: none;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-wrap .date .form-control, .form-wrap .input-group-addon {
    border-color: #d1d9de;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.control-label i {
    color: #F00;
    font-family: "SimSun";
    font-style: normal;
    padding-right: 4px;
}

.input-group-addon {
    border: 1px solid #e1e5ea;
    background-color: transparent;
    border-radius: 0;
    min-width: 45px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    border-left: 0;
}

/*form表单样式 Start*/
.view .td-data input,.view .td-data textarea,.view .td-data .bootstrap-select .btn-default,.view .td-data .input-group,.view .td-data select{display: none;}
.edit .td-data .input-group{display: table;}
.edit .td-data input,.edit .td-data textarea,.edit.td-data select,.edit .td-data .bootstrap-select .btn-default{display:block;}
.form-wrap{padding:20px 50px 100px 50px;color: #333;}
.form-wrap .formTitleDiv{text-align: center;line-height: 40px;}
.form-wrap .title{font-weight: bold;color: #333;font-size: 25px;}
.form-wrap table{width:100%; border-collapse: collapse; table-layout: fixed; line-height:22px; margin-top:3px;}
.form-wrap .td-lable{background-color:#fff; text-align: right; background-color: #f1f9fe; padding: 3px; border: 1px solid #6faadb; }
.form-wrap .td-lable label{margin-bottom: 0}
.form-wrap .td-data{background-color:#fff; text-align: left;   padding: 6px 20px 6px 6px; border: 1px solid #6faadb; }
.form-wrap .form-control,.form-wrap .chosen-container-single .chosen-single{border-color: rgb(169, 169, 169);}
.form-wrap .td-data textarea{width: 60%;height: 70px;}
.form-wrap .date .form-control,.form-wrap .input-group-addon{border-color: #d1d9de;}
.form-wrap .has-error .form-control:focus,.form-wrap .has-error .form-control,
.form-wrap .has-error .chosen-container-single .chosen-single{border-color: #f00;}
.form-wrap .has-error .cndzk-entrance-division-header-click{border-color: #f00;}
.form-wrap .has-error .bootstrap-select .dropdown-toggle,.form-wrap .error .bootstrap-select .dropdown-toggle{border-color: #f00;}
.form-wrap .btn-area {text-align: center;padding: 10px; display: none;}
.approval-modal .select-div{line-height:30px;text-align: right;padding-right: 30px;}
.approval-modal .textarea-div{line-height: 40px;;text-align: right;padding-right: 30px;margin-bottom: 0;}
.approval-modal .control-label{margin-right: 10px;}
/*form表单样式 End*/

