<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>anUI</title>
    <script type="text/javascript" src="https://lastsoup.github.io/themes/nifty/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://lastsoup.github.io/themes/nifty/js/bootstrap.js"></script>
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="https://lastsoup.github.io/themes/nifty/css/demo/nifty-demo-icons.min.css" rel="stylesheet" type="text/css">
    <!--obfuscator[ OPTIONAL ]-->
    <script src="/js/plugins/javascript-obfuscator/index.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!--Tabs[ OPTIONAL ]-->
    <link href="/js/plugins/easyui/themes/metro/easyui.css" rel="stylesheet" />
    <script src="/js/plugins/easyui/base/jquery.parser.js"></script>
    <script src="/js/plugins/easyui/base/jquery.panel.js"></script>
    <script src="/js/plugins/easyui/plugins/jquery.tabs.js"></script>
    <script src="/js/plugins/easyui/plugins/jquery.menu.js"></script>
    <script src="/js/jquery.method.js"></script>
</head>
<body>
    <div id="app" class="page">
        <div class="top">
        <h1>anUI</h1>
        <div>
            <input id="firstTitle" type="hidden" :value="$route.meta.title" />
            <input id="firstSrc" type="hidden" :value="$route.meta.src" />
          <!-- 使用 router-link 组件来导航. -->
          <!-- 通过传入 `to` 属性指定链接. -->
          <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
          <!-- <router-link :class="[$route.meta.active ==='home'? 'router-link-active' : '']" to="/" exact>首页</router-link>
          <router-link :class="[$route.meta.active ==='demo'? 'router-link-active' : '']"  to="/demo/StaticTables">anUI Demo</router-link>
          <router-link :class="[$route.meta.active ==='plugins'? 'router-link-active' : '']" to="/plugins/base">anUI 插件</router-link> -->
          <router-link exact v-if="item.path!='/'" v-for="item in $route.query.head" :class="[$route.meta.active ===item.meta.active ? 'router-link-active' : '']"  :to="{path:item.default}" >
              {{item.meta.title}}
          </router-link>
        </div>
       </div>
        <!-- 路由出口 -->
        <!-- 路由匹配到的组件将渲染在这里 -->
        <router-view></router-view>
      </div>
    </body>

    <script>
        $(function () { 
               $('#tabs').tabs('addIframeTab',{
                    tab:{title:"欢迎使用",closable:false},
                    iframe:{src:"http://www.0non0.com"}
                });
                $.addTab($("#firstTitle").val(),$("#firstSrc").val());
                $.ajax({
                        type: "POST",
                        contentType:"application/json",
                        dataType: "json",
                        //async:false,
                        url: "http://212.64.80.101:8085/api/WebAPI/GetJWT",
                        data: JSON.stringify({ UserName: "admin", PassWord:"12345"}),
                        success: function (msg) {
                            //获取到token mark  1成功   0失败  msg 
                            Cookies.set('ANTOKEN', msg.token);  
                        }
                    });
        });
    </script>
</html>