*{
    margin: 0;
    padding: 0;
    font-family: Arial,Times New Roman, Verdana;
    text-decoration:none;
}
center{padding-top: 50px;}
center p{color: #888;}
a:visited,a:link{color: #000;}
.top{line-height: 60px;border-bottom: 1px solid #ccc;padding: 0 10px;}
.top h1{float: left;margin-right: 20px;}
.top a{padding:5px;}
a.router-link-active{color: #f63; font-weight:700;}
.nav .nav>li>a.router-link-active {color: #563d7c;}
.left ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main{margin: 0 10px;}
.nav{    
    width: 200px;
    float: left;
    min-height:200px;
    background: #eee;
}
.content{
    margin-left: 200px;
    border: 1px solid rgb(225, 225, 232);
    border-top: 0;
    min-height:230px;
}
.nav>li {
position: relative;
display: block;
padding: 3px 0;
}
.nav>.active>a{
display: block;
padding: 4px 20px;
font-size: 15px;
padding-left: 18px;
font-weight: 700;
color: #563d7c;
background-color: transparent;
border-left: 2px solid #563d7c;
}

.nav .nav>li>a {
color: #999;
padding-left: 20px;
font-size: 13px;
font-weight: 400;
}